@tailwind base;
@tailwind components;
@tailwind utilities;

/*
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)
 */

@font-face {
  font-family: 'Charter';
  src: url('/styles/charter_regular-webfont.woff2') format('woff2'),
  url('/styles/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('/styles/charter_italic-webfont.woff2') format('woff2'),
  url('/styles/charter_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Charter';
  src: url('/styles/charter_bold-webfont.woff2') format('woff2'),
  url('/styles/charter_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('/styles/charter_bold_italic-webfont.woff2') format('woff2'),
  url('/styles/charter_bold_italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
